<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue条件测试</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app-3">
    <!-- v-if是一个指令, 必须依托于元素 -->
    <p v-if="seen">现在你看到我了</p>

    <p v-if="show === 1">我是笨蛋</p>
    <p v-else-if="show === 2">我是聪明蛋</p>
    <p v-else>我是傻瓜</p>
  </div>

  <script>
    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true,
        show: 2,
      }
    })
  </script>

</body>
</html>